.header-title {
    // color: var(--gold-2);
    color: #fff;
    font-size: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    
}

.main-header {

    background-color: var(--dark-green-2);
    padding: 1rem 5rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
    z-index: 9999;

    &-logo {
        margin: 0 auto;
        
        img {
        margin-left: 15rem; //push back the logo to the center since we added padding to the buttons
        height: 6rem; }
      
    }

 
}

.secondary-header {
    position: fixed;
    top: 8rem;
    width: 100%;
    z-index: 9999;
    font-size: 1.6rem;
    font-family: Figtree;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--white);
    background-color: #000;    
    height: 6rem;
   
    display: flex;
    align-items: center;
    justify-content: center;
   

    
    &-nav {
      height: 100%;
       ul:not(.menu-sub) {
      
        display: flex;
        align-items: center;
        gap: 4rem;
        list-style: none;

       }

       ul, li {
        height: 100%;
       }



       :link, :visited {
        
        color: inherit;
        text-decoration: none;
        
       
       }
       

       .nav-link {
        height: 100%;
        transition: all 0.3s;
       
        display: flex;
        align-items: center;

        &:hover:not(&-active) { //hover all links except the ACTIVE LINK
            color: var(--dark-green-3);
            // border-bottom: 1px inset var(--dark-green-3);
            text-decoration: underline; //*substitute for border-bottom style
        text-decoration-skip-ink: auto;
        text-underline-offset: 10px;
            transform: translateY(-3px);
        } 
    
        &-active {
            font-weight: 800;
            color: var(--dark-green-3);
            cursor: default; //overrides the cursor: pointer
        }

       }
       
      
    }

    // FOR SUBMENU
    .menu {
        position: relative;

     
        &-icon {
            margin-left: 0.5rem;
        }

        &-sub {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            display: flex;
            flex-direction: column;
            list-style: none;
            text-transform: capitalize;
            font-weight: 500;
            gap: 2rem;
            background-color: var(--dark-green-1);
            padding: 2rem;
           
            height: auto;
            
            transition: all 0.3s;

            // submenu 1 and 2
            &-1 {
            width: 18rem;
            left: -2rem;
            }

            &-2 {
            width: 21rem;
            left: -1.5rem;

            }

            li {
            transition: all 0.5s;
            }

            li:hover {
                transform: translateX(0.7rem);
                font-weight: 700;
                color: var(--gold-2);
            }
            
        }

        &:hover .menu-sub {
            opacity: 1;
            visibility: visible;
        }

    }

}