*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #fff;
    --primary-color: #1b8015;
    --light-green-1: #dffcdc;
    --light-green-2: #c0f7bb;
    --light-green-3: #c0f7bb;
    --light-green-4: #069570;
    --dark-green-1: #1a6516;
    --dark-green-1: #144b12;
    --dark-green-2: #062e05;
    --dark-green-3: #05775d;
    --gold-1: #d2c1a2;
    --gold-3: #b05f1e;
    --gold-2: #ffd662;
    --gold-3: #d2aa6b;
    --grey: #f7f7f7;

    --opacity-2: #062e05a9;
    --opacity-1: #05775c63;

    
}

@font-face {
    font-family: Hogwarts;
    src: url(fonts/Hogwarts.ttf);
}

@font-face {
    font-family: Figtree;
    src: url(fonts/Figtree-VariableFont_wght.ttf);
}

// IMPORT OTHER SCSS
@import "header";
@import "loginform";
@import "gallery";

html {
    font-size: 62.5%;
}

body {
    font-family: Hogwarts, sans-serif;
    background-color: var(--grey);
  
    // background-image: linear-gradient(to right, var(--opacity-2) 43%, var(--opacity-1) 100%), url(images/slytherin-room.jpg);
    background-image: linear-gradient(to right, var(--opacity-2) 43%, var(--opacity-1) 100%), url(images/slytherin-room.jpg);


    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  

}


.mt-large {
    margin-top: 20rem;
}

/////////////////////////////////////
/// BUTTONS
.btn {
    border: none;
    padding: 0.8rem 1.5rem;
    
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 30px;
    transition: all .3s;

    &-login {
        background-color: transparent;
        color: var(--white);
        border: 1px solid var(--white);
        margin-right: 1rem;

        &:hover {
            background-color: var(--white);
            color: #000;
        }
    } 

    &-signup {
        background-color: var(--light-green-4);
        color: var(--white);

        &:hover {
            background-color: var(--dark-green-3);
            
        }
    }
}

